<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pharma_wholesale.app">
    
    <application
        android:label="pharma_wholesale"
        android:icon="@android:drawable/sym_def_app_icon">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
